* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: white;
}
body {
  font-family: "Noto Sans", sans-serif;
  opacity: 0.8;
}

.hidden {
  display: none;
}

#login-form input[type="text"],
#greeting {
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
}
#greeting {
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

input[type="submit"] {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
  border: none;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

input {
  width: 280px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 2px solid black;
}

input[type="text"]:first-child {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}

#clock {
  position: absolute;
  left: 50%;
  top: 19%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  padding: 10px 15px;
  border: 3px solid white;
}

#quote {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#quote span:last-child {
  font-size: 12px;
}

#todo-form {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#todo-list {
  height: 270px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
  list-style: none;
  -ms-overflow-style: none; /*스크롤바 숨김*/
}
#todo-list::-webkit-scrollbar {
  display: none; /*스크롤바 숨김*/
}

#check-list {
  height: 270px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 70%;
  left: 65%;
  transform: translate(-50%, -50%);
  list-style: none;
}

#todo-list li,
#check-list li {
  margin-bottom: 10px;
  font-size: 18px;
}

#todo-list button,
#check-list button {
  margin: 5px;
  background: none;
  border: none;
}

#weather {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 15px;
}
#weather span:first-child {
  font-size: 20px;
  color: blue;
}

p {
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.will {
  position: absolute;
  top: 49%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.past {
  position: absolute;
  top: 49%;
  left: 65%;
  transform: translate(-50%, -50%);
}
